@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Global font and body styles */
body {
  font-family: "Inter", sans-serif;
}

/* Add this to your global styles */
.bg-lightblue {
  background-color: #ffff; /* Light blue background color */
}

/* Header */
.header {
  background-color: #2d2e33; /* Charcoal gray */
  color: rgb(10, 10, 10);
  padding: 15px 0;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #ffff; /* Charcoal gray */
  color: rgb(10, 10, 10);
  padding: 10px 0;
  text-align: center;
}
